{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "modules": true
    },
    "requireConfigFile": false
  },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "ignorePatterns": [
    "**/*.json",
    "**/*.json5"
  ],
  "rules": {
    "prettier/prettier": [
      1,
      {
        "trailingComma": "all",
        "printWidth": 130,
        "bracketSpacing": false,
        "arrowParens": "avoid",
        "singleQuote": true
      }
    ],
    "no-empty": 0,
    "no-cond-assign": 0,
    "no-sparse-arrays": 0,
    "no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
